@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}

td {
    text-align: center;
}

.sidebar li:target > a {
    @apply bg-neutral-100 text-neutral-900 border-blue-500;
}

@layer components {
    .prose {
        @apply prose-lg;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        th,
        h1,
        h2,
        h3,
        h4 {
            @apply font-medium;
        }
    }
    .dark .prose {
        @apply prose-dark;
    }
}

@layer utilities {
    .prose-dark h1,
    .prose-dark h2,
    .prose-dark h3,
    .prose-dark h4,
    .prose-dark h5,
    .prose-dark h6 {
        @apply text-white;
    }
    .prose-dark th {
        @apply text-white;
    }
    .prose-dark strong {
        @apply text-white;
    }
    .prose-dark p {
        @apply text-gray-300;
    }
    .prose-dark li {
        @apply text-gray-300;
    }
    .prose-dark a {
        @apply text-blue-400;
    }
    .prose-dark table {
        @apply text-gray-300;
    }
    .prose-dark th,
    .prose-dark td {
        @apply border-gray-600;
    }
}
